{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>WcDonald</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">WcDonald</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href='/checkout'>Link</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <button id="cart" data-html="true" type="button" class="btn btn-secondary" onclick="window.location.href='/checkout'">
                                    購物車(0)
                                </button>                            
                            </li>
                          </ul>

                    </div>
                  </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gytters align-items-center">
                        <div class="col">
                            <input type="search" name="item_name" placeholder="Search for products" class="form-control form-control borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{product.image}}">
                <div class="card-body">
                    <div id="product{{product.id}}">
                        <div class="card-title">
                            {{product.title}}
                        </div>
                        <div class="card-text">
                            {{product.price}}
                        </div>
                    </div>
                    
                    <a href="/{{product.id}}" class="btn btn-warning">查看</a>
                    <a data-product-id="{{product.id}}" class="btn atc btn-warning">加入購物車</a>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                        <li class="page-item" style="position: relative; top: 10px; left: 90px;">
                            <a class="page-link" href="?page={{product_objects.previous_page_number}}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item-active" style="position: relative; top: 10px; left: 90px;" >
                        <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                    </li>

                    {% if product_objects.has_next %}
                    <li class="page-item" style="position: relative; top: 10px; left: 110px;">
                        <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
 
    <script type="text/javascript">
        // 在页面加载时初始化cart字典为0
        $(document).ready(function() {
            var cart = {};
            localStorage.setItem('cart', JSON.stringify(cart));
        });

        // 检查是否是通过分页导航跳转到此页
        var isPaginationNavigation = false;
        
        // 检查是否有page参数，如果有，则是分页导航
        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('page')) {
            isPaginationNavigation = true;
        }

        // 获取localStorage中的cart数据
        var cart = localStorage.getItem('cart');

        // 如果不是分页导航，则将cart数据发送到服务器
        if (!isPaginationNavigation && cart !== null) {
            $.ajax({
                type: "POST",
                url: "/update_cart/",  // 请根据实际URL配置
                data: JSON.stringify({ cart: JSON.parse(cart) }),
                contentType: "application/json",
                success: function(data) {
                    // 处理成功响应
                    console.log('Cart data sent to server:', data);
                },
                error: function(error) {
                    console.log("Error sending cart data: " + error);
                }
            });
        }

        console.log('this is working');
        var cart = {};

        // 检查localStorage中是否有购物车数据
        if (localStorage.getItem('cart') !== null) {
            cart = JSON.parse(localStorage.getItem('cart'));
        }

        // 更新购物车按钮上的数量
        function updateCartCount() {
            var cartCount = 0;

            for (var key in cart) {
                cartCount += cart[key];
            }

            $("#cart").text("購物車(" + cartCount + ")");
        }

        // 点击"Add to Cart"按钮的事件处理程序
        $(document).on('click', '.atc', function() {
            console.log('The add to cart is clicked');
            var productId = $(this).data("product-id").toString();
            console.log(productId);

            // 将商品添加到购物车或增加数量
            if (cart[productId] !== undefined) {
                cart[productId]++;
            } else {
                cart[productId] = 1;
            }

            // 将购物车内容保存到localStorage
            localStorage.setItem('cart', JSON.stringify(cart));

            // 更新购物车按钮上的数量
            updateCartCount();

            // 以下是为了确认 cart 的更新情况
            console.log(cart);
        });

        // 初始化购物车按钮上的数量
        updateCartCount();
    </script>

</body>
</html>